{% capture description %}
  {%- if product.empty? -%}
    {{ 'home_page.onboarding.product_description' | t }}
  {%- elsif product.metafields.custom.tab_product_description -%}
    {{ product.metafields.custom.tab_product_description }}
  {%- else -%}
    {{ product.description }}
  {%- endif -%}
{% endcapture %}
{%- if is_tab -%}
  {% assign title = 'products.product.description' | t %}
  {%- render 'tab', id: id, title: title, content: description -%}
{%- else -%}
  <div class="rte">
    {{ description }}
  </div>
{%- endif -%}
