{{ 'okendo-reviews.css' | asset_url | stylesheet_tag: preload: true }}

<div class="okendo-reviews-section">
    {% if shop.metafields.okendo.WidgetPreRenderBodyStyleTags != blank %}{{ shop.metafields.okendo.WidgetPreRenderBodyStyleTags }}{% endif %}<div data-oke-widget></div>
</div>

<style>

  @media (min-width: 768px) {
  
    .okendo-reviews-section {
      padding: 64px;    
    }

  }
  
</style>