{{ 'how-to-riddle.css' | asset_url | stylesheet_tag }}
<script src="{{ 'how-to-riddle.js' | asset_url }}" defer></script>
{% style %}
  #section-{{ section.id }} {
        --color-text: #101820;
        --color-text-rgb: 16, 24, 32;
        --color-bg: #ffffff;
        --item-bg-color: 242, 234, 223;
        --PT: 54px;
        --PB: 54px;
  }
{% endstyle %}

<div class="how-to-riddle" id="section-{{ section.id }}">
  <div class="page-width">
    <div class="htr-header">
      <span class="sh2">THE ROUTINE</span>
      <h2 class="section-heading">How To Riddle</h2>
      <p>Every product stands on its own, but put together, they are a 3-step system specifically designed to amplify your signature scent and extend its duration.</p>
    </div> 
    <div class="htr-wrapper">
        <div class="htr-content-left">
            <div class="htr-list">
                <div class="htr-item active" data-list-item="1">
                    <a class="block-item-url" href="https://riddleoil.com/products/fraiche-shower-oil-wash"></a>
                    <div class="htr-item-left">
                        <div class="htr-item-icon">
                            <image-element data-aos="image-fade-in" data-aos-offset="150" class="aos-init aos-animate">
                                <img
                                    src="http://riddleoil.com/cdn/shop/files/Scent_Neutralizing_Cleanser.svg?v=1732173495&amp;width=540"
                                    alt=""
                                    srcset="http://riddleoil.com/cdn/shop/files/Scent_Neutralizing_Cleanser.svg?v=1732173495&amp;width=540 540w"
                                    width="540"
                                    height="556.875"
                                    loading="lazy"
                                    class="image-element"
                                    sizes="(min-width: 769px) 160px, 110px"
                                />
                            </image-element>
                        </div>
                        <div class="htr-item-image">
                            <image-element data-aos="image-fade-in" data-aos-offset="150" class="aos-init aos-animate">
                                <img
                                    src="https://riddleoil.com/cdn/shop/files/Cleanse.png?v=1732173495&amp;width=540"
                                    alt=""
                                    srcset="https://riddleoil.com/cdn/shop/files/Cleanse.png?v=1732173495&amp;width=540 540w"
                                    width="540"
                                    height="1343.8636363636365"
                                    loading="lazy"
                                    class="image-element"
                                    sizes="(min-width: 769px) 160px, 110px"
                                />
                            </image-element>
                        </div>
                    </div>
                    <div class="htr-item-right">
                        <div class="htr-item-box">
                            <span class="sh2 pre-text">Step One</span>
                            <h4>Skin Balancing Cleanser</h4>
                            <div class="htr-item-rte">
                                <p>That true head-turning scent begins here. Our Fraiche oil-to-milk cleanser will wash away any impurities without stripping you of your skin-protecting and nourishing oils and prepping you for a smooth,
                                    long-lasting Riddle scent application.</p>
                            </div>
                            <a class="btn-link" href="https://riddleoil.com/products/fraiche-shower-oil-wash">
                                <span>Shop Body Wash</span>
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 12.75L20 12.75L4 12.75ZM20 12.75L14 18.75L20 12.75ZM20 12.75L14 6.75L20 12.75Z" fill="currentColor"></path>
                                    <path d="M4 12.75L20 12.75M20 12.75L14 18.75M20 12.75L14 6.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="htr-item" data-list-item="2">
                    <a class="block-item-url" href="https://riddleoil.com/collections/body-oils-and-lotions"></a>
                    <div class="htr-item-left">
                        <div class="htr-item-icon">
                            <image-element data-aos="image-fade-in" data-aos-offset="150" class="aos-init aos-animate">
                                <img
                                    src="https://riddleoil.com/cdn/shop/files/Radiating_Moisturizer.svg?v=1732173495&amp;width=540"
                                    alt=""
                                    srcset="https://riddleoil.com/cdn/shop/files/Radiating_Moisturizer.svg?v=1732173495&amp;width=540 540w"
                                    width="540"
                                    height="540.0"
                                    loading="lazy"
                                    class="image-element"
                                    sizes="(min-width: 769px) 160px, 110px"
                                />
                            </image-element>
                        </div>
                        <div class="htr-item-image">
                            <image-element data-aos="image-fade-in" data-aos-offset="150" class="aos-init aos-animate">
                                <img
                                    src="https://riddleoil.com/cdn/shop/files/Moisturize.png?v=1732173495&amp;width=540"
                                    alt=""
                                    srcset="https://riddleoil.com/cdn/shop/files/Moisturize.png?v=1732173495&amp;width=540 540w"
                                    width="540"
                                    height="1100.5714285714287"
                                    loading="lazy"
                                    class="image-element"
                                    sizes="(min-width: 769px) 160px, 110px"
                                />
                            </image-element>
                        </div>
                    </div>
                    <div class="htr-item-right">
                        <div class="htr-item-box">
                            <span class="sh2 pre-text">Step Two</span>
                            <h4>Rejuvenating Layering Products</h4>
                            <div class="htr-item-rte">
                                <p>Our best-selling Milky spray lotion, and Boujee body oil products are formulated to feed and protect your skin while laying the foundation for a buildable signature scent.</p>
                            </div>
                            <a class="btn-link" href="https://riddleoil.com/collections/body-oils-and-lotions">
                                <span>Shop Layering</span>
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 12.75L20 12.75L4 12.75ZM20 12.75L14 18.75L20 12.75ZM20 12.75L14 6.75L20 12.75Z" fill="currentColor"></path>
                                    <path d="M4 12.75L20 12.75M20 12.75L14 18.75M20 12.75L14 6.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="htr-item" data-list-item="3">
                    <a class="block-item-url" href="https://riddleoil.com/collections/fragrance-oils"></a>
                    <div class="htr-item-left">
                        <div class="htr-item-icon">
                            <image-element data-aos="image-fade-in" data-aos-offset="150" class="aos-init">
                                <img
                                    src="https://riddleoil.com/cdn/shop/files/Pheromone_and_Scent_Enhancers.svg?v=1732173495&amp;width=540"
                                    alt=""
                                    srcset="https://riddleoil.com/cdn/shop/files/Pheromone_and_Scent_Enhancers.svg?v=1732173495&amp;width=540 540w"
                                    width="540"
                                    height="540.0"
                                    loading="lazy"
                                    class="image-element"
                                    sizes="(min-width: 769px) 160px, 110px"
                                />
                            </image-element>
                        </div>
                        <div class="htr-item-image">
                            <image-element data-aos="image-fade-in" data-aos-offset="150" class="aos-init aos-animate">
                                <img
                                    src="https://riddleoil.com/cdn/shop/files/Enhance.png?v=1732173496&amp;width=540"
                                    alt=""
                                    srcset="https://riddleoil.com/cdn/shop/files/Enhance.png?v=1732173496&amp;width=540 540w"
                                    width="540"
                                    height="1233.7974683544305"
                                    loading="lazy"
                                    class="image-element"
                                    sizes="(min-width: 769px) 160px, 110px"
                                />
                            </image-element>
                        </div>
                    </div>
                    <div class="htr-item-right">
                        <div class="htr-item-box">
                            <span class="sh2 pre-text">Step Three</span>
                            <h4>Pheromone and Scent Boosters</h4>
                            <div class="htr-item-rte">
                                <p>Choose between our two pheromone oils for that, can't get enough, you but better, scent. Then add on one of our beloved scented fragrance oils to truly make it unique to you.</p>
                            </div>

                            <a class="btn-link" href="https://riddleoil.com/collections/fragrance-oils">
                                <span>Shop Roll-Ons</span>
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 12.75L20 12.75L4 12.75ZM20 12.75L14 18.75L20 12.75ZM20 12.75L14 6.75L20 12.75Z" fill="currentColor"></path>
                                    <path d="M4 12.75L20 12.75M20 12.75L14 18.75M20 12.75L14 6.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="htr-content-right hide-mobile">
            <div class="htr-image-wrapper">
                <div class="htr-image-list">
                    <div class="htr-item-image active" data-htr-img-item="1">
                        <image-element data-aos="image-fade-in" data-aos-offset="150" class="aos-init aos-animate">
                            <a href="https://riddleoil.com/products/fraiche-shower-oil-wash" aria-label="riddle collection url">
                                <img
                                    src="https://riddleoil.com/cdn/shop/files/Cleanse.png?v=1732173495&amp;width=200"
                                    alt=""
                                    srcset="https://riddleoil.com/cdn/shop/files/Cleanse.png?v=1732173495&amp;width=200 200w"
                                    width="200"
                                    height="497.7272727272728"
                                    loading="lazy"
                                    class="image-element"
                                    sizes="(min-width: 769px) 200px, 200px"
                                />
                            </a>
                        </image-element>
                        <div class="htr-item-point">
                            <a href="https://riddleoil.com/products/fraiche-shower-oil-wash" class="htr-item-label">
                                <span class="htr-item-count">1</span>
                                <h6>Cleanse</h6>
                            </a>
                        </div>
                    </div>

                    <div class="htr-item-image" data-htr-img-item="2">
                        <image-element data-aos="image-fade-in" data-aos-offset="150" class="aos-init aos-animate">
                            <a href="https://riddleoil.com/collections/body-oils-and-lotions" aria-label="riddle collection url">
                                <img
                                    src="https://riddleoil.com/cdn/shop/files/Moisturize.png?v=1732173495&amp;width=200"
                                    alt=""
                                    srcset="https://riddleoil.com/cdn/shop/files/Moisturize.png?v=1732173495&amp;width=200 200w"
                                    width="200"
                                    height="407.61904761904765"
                                    loading="lazy"
                                    class="image-element"
                                    sizes="(min-width: 769px) 200px, 200px"
                                />
                            </a>
                        </image-element>
                        <div class="htr-item-point">
                            <a href="https://riddleoil.com/collections/body-oils-and-lotions" class="htr-item-label">
                                <span class="htr-item-count">2</span>
                                <h6>Moisturize</h6>
                            </a>
                        </div>
                    </div>

                    <div class="htr-item-image" data-htr-img-item="3">
                        <image-element data-aos="image-fade-in" data-aos-offset="150" class="aos-init aos-animate">
                            <a href="https://riddleoil.com/collections/fragrance-oils" aria-label="riddle collection url">
                                <img
                                    src="https://riddleoil.com/cdn/shop/files/Enhance.png?v=1732173496&amp;width=200"
                                    alt=""
                                    srcset="https://riddleoil.com/cdn/shop/files/Enhance.png?v=1732173496&amp;width=200 200w"
                                    width="200"
                                    height="456.9620253164557"
                                    loading="lazy"
                                    class="image-element"
                                    sizes="(min-width: 769px) 200px, 200px"
                                />
                            </a>
                        </image-element>
                        <div class="htr-item-point">
                            <a href="https://riddleoil.com/collections/fragrance-oils" class="htr-item-label">
                                <span class="htr-item-count">3</span>
                                <h6>Enhance</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "How to Riddle",
    "settings": [
    ],
    "presets": [
      {
        "name": "How to Riddle"
      }
    ]
  }
{% endschema %}