.banner-text {
  height: var(--desktop-section-height);
}

.banner-text-inner {
  position: relative;
  height: 100%;
}

.banner-text-image {
  height: 100%;
}

.banner-text-inner .banner-text-content h3 {
  margin: 0 0 40px;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  color: var(--color-text);
  text-transform: inherit;
  font-family: var(--body-font);
}

.banner-text-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 1;
  text-align: center;
  max-width: 920px;
  width: 100%;
  padding: 0 20px;
}

.banner-text-content .btn--primary {
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  border: 1px solid var(--color-button-bg) !important;
}

.banner-text-content .btn:not(.btn--secondary):hover {
  background: rgba(16, 24, 32, 0.08) !important;
  color: var(--color-button-bg);
  border-color: var(--color-button-bg) !important;
}

.banner-text-content .btn--secondary {
  color: var(--color-button-text);
}

.banner-text-content .btn.btn--secondary:hover {
  background: rgba(16, 24, 32, 0.4);
}


@media screen and (min-width: 1441px) { 

  .banner-text-inner {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 0 auto;
  }
  
}


@media screen and (max-width: 1023px) {
  
  .banner-text-inner .banner-text-content h3 {
    font-size: 24px;
    line-height: 1.4;
  }
  
}
@media screen and (max-width: 767px) {

  .banner-text {
    height: var(--mobile-section-height);
  }

  .banner-text-inner .banner-text-content h3 {
    font-size: 16px;
    line-height: 22.4px;
  }

  .banner-text-content .btn--secondary {
    width: 100%;
  }

}

@media screen and (max-width: 479px) {

  .banner-text-content {
    padding: 0 16px;
  }
  
  .banner-text-content .btn--primary {
    width: 100%;
    height: 42px;
  }
}