.drawer {
  overflow: auto;
}
.nav__drawer {
  top: 88px;
  width: 100%;
  max-width: 100%;
}

.nav__drawer.site-nav--stuck {
  top: 56px;
}

.nav__drawer.drawer--left {
  left: -100%;
}

.nav__drawer.drawer--left.drawer--is-open {
  transform: translate(100%);
}

.nav__drawer.drawer--right {
  right: -100%;
}

.nav__drawer.drawer--right.drawer--is-open {
  transform: translate(100%);
}

.js-drawer-open .main-content:after {
  background: transparent;
  z-index: 1;
}

.js-drawer-open-nav .icon--close,
.js-drawer-open-nav[aria-expanded="true"] .icon--hamburger {
  display: none;
}

.js-drawer-open-nav[aria-expanded="true"] .icon--close,
.js-drawer-open-nav[aria-expanded="false"] .icon--hamburger {
  display: block;
}

.js-drawer-open-nav svg {
  width: 18px;
}

.drawer__fixed-header {
  display: none;
}

.nav__drawer {
  background: #F7F2EC;
}

.mobile-nav>.mobile-nav__item {
  background: transparent;
}

.drawer__scrollable {
  /* justify-content: space-between; */
  /* gap: 40px; */
  padding: 8px 16px 32px;
}

.mobile-nav__item {
  margin-top: auto;
}

.mobile-nav {
  margin: 0;
}

.mobile-nav__link {
  padding: 0;
  font-size: 16px;
  font-weight: 800;
  line-height: 22.4px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

.mobile-nav__toggle {
  width: 100%;  
}

.mobile-nav__toggle button {
  padding: 0;
  border: none;
  height: auto;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent !important;
  -webkit-tap-highlight-color: transparent;
}

.mobile-nav__item:after {
  display: none;
}

.mobile-nav .no__sublist,
.mobile-nav > .mobile-nav__item .mobile-nav__has-sublist {
  padding: 24px 0;
  border-bottom: 1px solid #101820B8;
}

.mobile-nav > .mobile-nav__item:last-child .no__sublist {
  border-bottom: none;
}

.mobile-nav__has-sublist .collapsible-trigger__icon {
  right: 0;
}

.mobile-nav__toggle .collapsible-trigger[aria-expanded="true"] .icon--plus,
.mobile-nav__toggle .collapsible-trigger[aria-expanded="false"] .icon--minus {
  display: none;
}

.mobile-nav__toggle .collapsible-trigger[aria-expanded="false"] .icon--plus,
.mobile-nav__toggle .collapsible-trigger[aria-expanded="true"] .icon--minus {
  display: block;
}


.mobile-nav__child-item .mobile-nav__faux-link {
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

.mobile-nav__child-item .collapsible-trigger__icon {
  margin-right: 0;
  padding: 0;
  border: none;
  width: auto;
}

.mobile-nav__child-item .collapsible-trigger__icon--circle .icon {
  right: 0;
  left: initial;
}

.mobile-nav__child-item .mobile-nav__faux-link {
  flex: 1;
}

.mobile-nav__child-item .mobile-nav__faux-link + svg {
  flex: 0 1 auto;
}

.mobile-nav__child-item .mobile-nav__faux-link + button {
  flex: 0 1 auto !important;
  padding: 0;
}

.mobile-nav__grandchildlist {
  display: flex;
  flex-direction: column;
  gap: 16px;  
  padding-top: 24px;
}

.mobile-nav__grandchildlist:before {
  display: none;
}

.mobile-nav__grandchildlist .mobile-nav__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  padding: 0;
  text-transform: initial;
  letter-spacing: normal;
}

.nav__sublist {
  padding: 12px 0 0;
}

.mobile-nav__item--secondary .grid__item {
  gap: 12px;
}

.mobile-nav__item--secondary .mobile-nav__link {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-transform: inherit;
  letter-spacing: normal;
  padding: 0;
}















