.hero-banner-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 568px;
  background: var(--color-bg);
}

.hero-banner-wrapper .hero-banner-text {
  width: 50%;
  display: flex;
  align-items: center;
}

.hero-banner-wrapper .hero-banner-image {
  width: 50%;
  position: relative;
}

.hero-banner__box {
  padding-left: var(--offset-left, 64px);
  padding-right: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero-banner-wrapper .hero-banner-image img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-banner-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 56px 0 0;
}


.hero-banner__box h2 {
  margin: 0;
  text-transform: none;
  color: var(--color-text);
  line-height: 1.2;
}

.hero-banner__box {
  color: var(--color-text);
}

.hero-banner__box .pre-text {
  padding-bottom: 8px;
}

.hero-banner__box .pre-text p {
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  margin: 0px;
}

.hero-banner-rte {
  margin: 24px 0;
  opacity: 0.8;
  letter-spacing: 0rem;
}

.hero-banner-rte p:last-child {
  margin: 0;
}

.hero-banner--rating {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.hero-banner--rating .rating-icon {
  display: flex;
  align-items: center;
}

.hero-banner--rating .rating-icon svg {
  color: var(--color-text);
}

.hero-banner--rating span {
  opacity: 0.8;
  position: relative;
  top: 1px;
}

.hero-banner-btns .hero-banner-button--item {
  line-height: 0;
}

.hero-banner-button--item .btn.btn--outline {
  color: inherit;
}

@media screen and (min-width: 1400px) {
  
  .hero-banner-wrapper .hero-banner-text {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: calc((100vw - var(--site-width))/2 - 60px);
 }

}

@media screen and (max-width: 1439px) {
  
  .hero-banner__box {
    padding: 32px;
  }
  
}

@media screen and (max-width: 1280px) {

  .hero-banner-btns .hero-banner-button--item .btn {
    font-size: 16px;
    width: 100%;
  }

  .hero-banner-btns .hero-banner-button--item {
    width: 100%;
  }

}

@media screen and (max-width: 1023px) {

  .hero-banner__box .section-heading {
    font-size: 32px;
    line-height: 38.40px;
  }

  .hero-banner-wrapper .hero-banner-image {
    min-height: 390px;
  }

}

@media screen and (max-width: 767px) {

  .hero-banner-wrapper .hero-banner-text {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .hero-banner__box {
    padding: 40px 16px;
  }

  .hero-banner-wrapper .hero-banner-image {
    min-height: 1px;
    width: 100%;
  }

  .hero-banner-wrapper .hero-banner-image img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 450px;
  }

  .hero-banner__box p {
    font-size: 14px;
  }

  .hero-banner-btns .hero-banner-button--item .btn,
  .hero-banner-btns .hero-banner-button--item {
    width: auto;
  }

  .hero-banner-btns {
    max-width: 500px;
    margin: 32px 0 0;
    gap: 16px;
  }

  .hero-banner-rte {
    display: none;
  }

  .hero-banner--rating {
    margin: 20px 0 0px;
  }

}

@media screen and (max-width: 479px) {
  
  .hero-banner-wrapper .hero-banner-image img {
    max-height: 225px;
  }
  
}

@media screen and (max-width: 479px) {
  
  .hero-banner-btns .hero-banner-button--item .btn,
  .hero-banner-btns .hero-banner-button--item {
    width: 100%;
  }
}
