 .collection-content .product--label {
   display: none;
 }

.product__card--url {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.try__now--wrapper {
  display: flex;
  flex-direction: column;
}

.try-now-button {
  border: 1px solid #9FA2A4;
  outline: 1px solid transparent;
  padding: 10px 15px;
  min-height: auto;
  height: auto;
  min-width: 72px;
  color: #101820;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0px;
  text-transform: uppercase;
  border-radius: 2px;
  align-self: self-start;
  margin: 16px 0;
}

.grid-product__link.try__now--link {
  flex: unset;
} 

.grid-product__meta.try__now--wrapper  {
  flex: 1;
}

#product-grid .grid-product__link::after {
  bottom: 0;
  content: "" !important;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#product-grid .grid-product__link {
  position: relative;
}

#product-grid .grid-product__secondary-image {
  background-color: transparent;
}

.grid-meta-container {
  margin-bottom: 6px;  
}

.try-now-button {
  margin: 2px 0 16px;  
}

@media (max-width: 767px) {
  
  .collection-grid__wrapper .grid-product__meta {
    padding: 8px 0;
  }
  
}