<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/0r4fUnJB2jZjQRlgYXnRuA" async></script>

{% comment %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="28577"></div>
{% endcomment %}

<div class="yotpo-widget-instance" data-yotpo-instance-id="1050492"></div>